.mynav {
  position: static;
  display: block;
  width: 100%;
  height: 78;
  padding: 10px 0px opx 0px;
  background-color: teal; opacity: 50%;
  line-height: 90px;
  line width: 500px;
}
.mynav ul {
  list style: none;
  position: block;
  display: inline;
  padding: 90px;
}

.mynav li{
  padding: 5%;
  display: inline;
border: 2px;
}

  .mynav li a{
      text-align: center;
      text-decoration: none;
      color: white;
  }   

body {
  font-family: roboto;
}

.container {

  padding: 0% 10% 0% 10%;
  width: 100%;
    height: 100%;
  position: relative;}

  .About {
  
    position: absolute;
    padding: 10px 60px 30px 60px;
    top: 900px;
   left: 400px;
   text-align: center;
   text-overflow: unset;
   color: white;
   background-color: teal; opacity: 60%;
  }

  .work{
    position: absolute;
    padding: 0px 0px 0px 150px;
    text-align: left;
      }
    .work h3{
      text-decoration: underline overline;
  
    }

  .education{
  
    position: absolute;
    padding: 0px 0px 00px 550px;
    text-align: left;}

    .education h3{
      text-decoration: underline overline;
    }

  .contact{

    position: relative;
    padding: 0px 0px 400px 1100px;
    text-align: left;
  
  }

  .contactme{
    position: relative;
   }

   .contact h3{
    text-decoration: underline overline;
   }


  .rectangle {
    width: 1500px;
    height: 500px;
    background-color: lavender;
    display: flex;
    justify-content: center;
  }

.rectangle .social-links img {
    padding: 20px 10px;
}